body {
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    color: goldenrod;
    font-style: italic;
}

#play-game {
    padding-bottom: 50px;
}

#play-btn {
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 12px;
    border-color: aquamarine;
    background-color: #0088c5;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#game {
    display: flex;                       /* Enables Flexbox */
    justify-content: space-around;       /* Even spacing between dealer and player cards */
    max-width: 80%;                      /* Limit the width to 80% of the screen */
    margin: 0 auto;                      /* Centers the game container horizontally */
    margin-bottom: 100px;
    padding: 20px;                       /* Adds padding for spacing */
    box-sizing: border-box;              /* Ensure padding is included in the width calculation */
}

#hit-btn {
    margin-bottom: 50px;
    margin-right: 40px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 12px;
    border-color: #7fffd4;
    background-color: green;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#stop-btn {
    margin-bottom: 50px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 12px;
    border-color: aquamarine;
    background-color: red;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}



#dealer-total {
    display: none;
}

#dealer-draw {
    display: none;
}

#game-btn {
    display: flex;
    justify-content: space-around;
}

#result{
    color: goldenrod;
    font-size: 30px;
    font-family: cursive;
}
